@use "./variables" as *;
@use "./mixin" as *;

@media (max-width: 480px) {
    header {
        padding: 12px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;


        h1 {
            order: 1;
            font-size: 1.2rem;
            margin: 0;
            padding: 0;
            text-align: center;
            line-height: 1.2;
            letter-spacing: .5px;
        }


        img {
            order: 2;
            width: 50px;
            margin: 0;
            height: auto;
            display: block;
        }

        nav {
            order: 3;
            width: auto;
            margin: 0 auto;
            display: flex !important;
            flex-direction: row !important;
            justify-content: center;

            ul {
                display: flex !important;
                flex-direction: row !important;
                justify-content: center;
                flex-wrap: wrap;
                padding: 0;
                margin: 0 auto;

                a {
                    font-size: 0.9rem;
                    display: inline-block;
                    padding: 5px 10px;

                }

            }

        }
    }



    h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
        margin: 10px 0;
    }

    .introduccion {
        padding: 15px;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;

        h2 {
            font-size: 1.3rem;
        }

        h3 {
            font-size: 1.1rem;
        }

        p {
            font-size: 0.95rem;
        }
    }

    .servicios {
        padding: 10px;

        li {
            font-size: 0.95rem;
            margin: 5px 0;
        }
    }

    .turnos {
        padding: 10px;

        h2 {
            font-size: 1.1rem;
        }

        input[type="submit"] {
            padding: 8px 15px;
            font-size: 0.9rem;
            width: 100%;
        }

        input,
        select,
        textarea {
            padding: 8px;
            font-size: 0.9rem;
        }
    }

    .ubicacion {
        padding: 10px;

        iframe {
            height: 200px;
        }

        figcaption {
            font-size: 0.85rem;
        }
    }

    .equipo {
        padding: 10px;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-areas:
            "titulo"
            "descripcion"
            "miembro1"
            "miembro2"
            "miembro3";

        img {
            width: 100px;
        }

        h3 {
            font-size: 1rem;
        }

        p {
            font-size: 0.85rem;
        }

    }

    footer {
        padding: 10px 5px;
        font-size: 0.85rem;

        address {
            line-height: 1.4;
        }
    }
}